.ExpertInfo {
	margin-left: var(--margin);
	margin-right: var(--margin);
	color: var(--primary);
  	background-image: var(--primary);
  	height: 100%;
  	
  	margin-top: 8rem;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	align-items: center;
	justify-content: center;
	grid-template-rows: 10rem  1fr;
	grid-template-areas: 
	'titleHolder titleHolder titleHolder titleHolder titleHolder titleHolder'
	'infoHolder infoHolder infoHolder infoHolder infoHolder infoHolder ';
}

.ExpertInfo .titleHolder {
	grid-area: titleHolder;
}

.ExpertInfo .infoHolder {
	margin-top: -10rem;
	grid-area: infoHolder;
	display: flex;
	justify-content: center;
}


.ExpertInfo .infoHolder .skills {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: var(--margin);
	grid-row-gap: 2rem;
}

.ExpertInfo .infoHolder .skills .skill h3 {
	margin-top: 5px;
	margin-bottom: 2px;
}

.ExpertInfo .infoHolder .skills .skill {
	background-color: #222330; 
	padding: 1rem;
	border-radius: 8px;
}

.ExpertInfo .infoHolder .skills #node{
	width: 2rem;
}

.ExpertInfo .infoHolder .skills #javascript{
	width: 2rem;
}

.ExpertInfo .infoHolder .skills .skill img{
	width: 1.5rem;
}

.ExpertInfo .infoHolder .skills .skill img:last-of-type{
	width: 100%;
}

.ExpertInfo .infoHolder .graphHolder img {
	width: 100%;
}

.ExpertInfo .infoHolder .graphHolder .graph {
	margin-left: var(--margin);
	margin-right: var(--margin);
}

@media only screen and (max-width: 768px) {
	.ExpertInfo {
		margin-left: var(--margin);
		margin-right: var(--margin);
		grid-template-rows: 5rem  1fr;

	}

	.ExpertInfo .titleHolder {
		text-align: center;
	}

	.ExpertInfo .infoHolder {
		grid-area: infoHolder;
		display: flex;
		justify-content: center;
		flex-direction: column;
 		margin-top: -10rem;
	}

	.ExpertInfo .infoHolder .graphHolder .graph .smallPara{
		text-align: center;
	}
}
