.ProjectDetails {
	width: 100vw;
	height: 100vh;
	/*background-color: #ba94de;*/

	display: grid;
	grid-template-columns: 0.2fr 1fr 0.2fr;
	grid-template-rows: 1fr 0.05fr;
	grid-template-areas: 
	'leftSide middlePart rightSide'
	'bottomPart bottomPart bottomPart';
	justify-content: center;
	align-items: center;
}

.ProjectDetails .leftSide {
	grid-area: leftSide;
	text-align: center;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 0.5rem;
	justify-content: center;
	align-items: center;
}

.ProjectDetails .middlePart {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: -10%;
	grid-area: middlePart;
	height: 50vh;

	display: flex;
	flex-direction: column;
}
.ProjectDetails .middlePart .title{
	margin-top: auto;
	color: white;
	text-align: center;
	font-size: var(--font-larger);
	font-weight: 700;
}

.ProjectDetails .middlePart .scroll{
	box-shadow: 0 15px 40px rgba(0,0,0,0.7);
}


.ProjectDetails .middlePart .crossHolder {
	margin-top: -5rem;
	display: flex;
	justify-content: center;
}

.ProjectDetails .middlePart .crossHolder img{
	width: 1.5rem;
	border: 3px solid #e32f4e;
	padding: 8px;
	border-radius: 50%;
}


.ProjectDetails .middlePart .scroll {
	width: 100%;
}

.ProjectDetails .rightSide {
	grid-area: rightSide;
	text-align: center;
}

.ProjectDetails .bottomPart {
	grid-area: bottomPart;
	display: flex;
	justify-content: center;
}

.ProjectDetails .first,
.ProjectDetails .second,
.ProjectDetails .third {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ProjectDetails .first,
.ProjectDetails .second ,
.ProjectDetails .third {
	height:5rem;
}

.ProjectDetails .first > img,
.ProjectDetails .second > img,
.ProjectDetails .third > img{
	width: 2rem;
}

.ProjectDetails .rightSide .second .details{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
}

.ProjectDetails .bottomPart .bottomHolder {
	width: 50%;
}

.ProjectDetails .bottomPart .bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	font-weight: 500;
}


